
/*Import Github Fonts Mona sans and Hubot Sans*/
@font-face {
    font-family: 'Mona Sans';
    src:
      url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

  :root {
    /*Colouring Varibles*/
    --background-colour:#181720;
    --primary-text-colour:#fff;
    --main-accent-colour:#6d57cc;
    --main-accent-darker:#55459e;
    --card-background-colour:#2b2939;
   } 

   html {
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    font-family: 'Mona Sans';
    }
    
    body {
    margin: 0;
    }


   /*Flex spaces*/
   main{
    display: flex;
    justify-content: center;
    margin-top: 42pt;
  }

  .trello{
    display: flex;
    justify-content: flex-start;
  }

   /* Flex navbar */
.navbar {
    display: flex;
    background-color:var(--main-accent-colour);
    padding: 2pt;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbutton {
    padding: 10pt;
    display: block;
    color: #fff;
    font-family: 'Mona Sans';
    text-decoration: none;
    background-color: var(--main-accent-colour);
    transition: 120ms ease;
  }
  
 .navbutton:hover {
    background-color: var(--main-accent-darker);
    color: #fff;
    
    transform: scale(1.15, 1);
    box-shadow: 0 0 2px 2px var(--button-border-col);
    border-radius: 3pt;
    font-weight: 600;
  
  }
  
  .navbutton:active {
    transform: scale(0.97, 1);
    transition: 0.08s ease;
    border-radius: 5pt;
    font-weight: 900;
  }
  
  .topleftlogo{
    user-select: none;
    text-decoration: none;
    font-family: "Hubot Sans";
    padding: 7pt;
    padding-right: 16pt;
    padding-left: 16pt;
    display: block;
    color: #fff;
  
    font-weight: 800;
    font-stretch: 125%;
    font-size: x-large;
    transition: 0.08s ease;
  }
  
  .topleftlogo:hover{
    font-weight: 500;
    transition: 0.08s ease;
  }

  /*Card Shennanigans*/
  .card{
    padding: 20pt;
    padding-top: 3pt;
    border-radius: 10pt;
    border: 1.5pt;
    border-color: #4a475e;
    border-style: solid;
    transition: 100ms ease;
  
  }

  .boringcard{
    margin: 25pt;
    background-color:var(--card-background-colour) ;
    max-width: 800pt;
  }
  
  .boringcard:active{
    transition: scale(0.993, 0.993);
  }
  
  .blurcard{
    margin: 25pt;
    background-color:#6966745a ;
    backdrop-filter: blur(20px);
    fill-opacity: 50%;
    max-width: 800pt;
  }

  .trellocard{
    margin: 25pt;
    background-color:var(--card-background-colour) ;
    max-width: 300pt;
    text-decoration: none;
    color: #fff;
  
  }

  .trellocard:hover{
    transform: scale(1.005, 1.005);
    transform: 100ms ease;
    border-color: rgba(200, 255, 0, 0.995);
  }
  .trellocard:active{
    transform: scale(0.98, 0.98);
    border-color:rgba(200, 255, 0, 0.995); 
  }
  

  /*Silly Id stuff*/
  #gallery{
    min-height: 100vh;
    background-image: url(carlos-vega-7XbxPUdRtgw-unsplash.jpg) ;
    background-position: center;
    background-size: cover;
  } 
  
  #saab900i{
    min-height: 100vh;
    background-image: url(IMG_9887.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #farleftnavbutton{
    padding-left: 20pt;
    font-weight: 600;
  }
  
  #farleftnavbutton:hover{
    font-weight: 800;
    background-color: rgba(200, 255, 0, 0.995);
    color: #2b2939;
  }
  /* big balls*/