

/*Import Github Fonts Mona sans and Hubot Sans*/
@font-face {
    font-family: 'Mona Sans';
    src:
      url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
  @font-face {
    font-family: 'Hubot Sans';
    src:
      url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
  
 :root {
  /*Colouring Varibles*/
  --background-colour:#181720;
  --primary-text-colour:#fff;
  --main-accent-colour:#6d57cc;
  --main-accent-darker:#55459e;
  --card-background-colour:#2b2939;
 } 

html {
background-color: var(--background-colour);
color: var(--primary-text-colour);
font-family: 'Mona Sans';
}

body {
margin: 0;
}




/* Flex navbar */
.navbar {
  display: flex;
  background-color:var(--main-accent-colour);
  padding: 2pt;
}

.navbar > .navbutton {
  padding: 10pt;
  display: block;
  color: #fff;
  font-family: 'Mona Sans';
  text-decoration: none;
  background-color: var(--main-accent-colour);
  transition: 120ms ease;
}

.navbar > .navbutton:hover {
  background-color: var(--main-accent-darker);
  color: #fff;
  
  transform: scale(1.15, 1);
  box-shadow: 0 0 2px 2px var(--button-border-col);
  border-radius: 3pt;
  font-weight: 600;

}

.navbar > .navbutton:active {
  transform: scale(0.97, 1);
  transition: 0.08s ease;
  border-radius: 5pt;
  font-weight: 900;
}

.topleftlogo{
  user-select: none;
  text-decoration: none;
  font-family: "Hubot Sans";
  padding: 7pt;
  padding-right: 16pt;
  padding-left: 16pt;
  display: block;
  color: #fff;

  font-weight: 800;
  font-stretch: 125%;
  font-size: x-large;
  transition: 0.08s ease;
}

.topleftlogo:hover{
  font-weight: 500;
  transition: 0.08s ease;
}

.card{
  margin: 25pt;
  padding: 20pt;
  padding-top: 3pt;
  background-color:var(--card-background-colour) ;
  border-radius: 10pt;
  border: 1.5pt;
  border-color: #4a475e;
  border-style: solid;
  transition: 100ms ease;

  max-width: 800pt;
}
  
/* silly card stuff*/
/*.card:hover{
  transform: scale(1.005, 1.005);
  transform: 100ms ease;
  border-color: rgba(200, 255, 0, 0.995);
}
*/
.card:active{
  transform: scale(0.993, 0.993);
}

.blurcard{
  margin: 25pt;
  padding: 20pt;
  padding-top: 3pt;
  background-color:#6966745a ;
  backdrop-filter: blur(20px);
  fill-opacity: 50%;
  border-radius: 10pt;
  border: 1.5pt;
  border-color: #6a687ec8;
  border-style: solid;
  transition: 100ms ease;
  max-width: 800pt;
}
/*
.blurcard:hover{
  transform: scale(1.005, 1.005);
  transform: 100ms ease;
  border-color: rgba(200, 255, 0, 0.995);
}
*/
.blurcard:active{
  transform: scale(0.993, 0.993);
}

main{
  display: flex;
  justify-content: center;
}

.trello{
  display: flex;
  justify-content: flex-start;
}

.trellocard{
  margin: 25pt;
  padding: 20pt;
  padding-top: 3pt;
  background-color:var(--card-background-colour) ;
  border-radius: 10pt;
  border: 1.5pt;
  border-color: #6a687ec8;
  border-style: solid;
  transition: 100ms ease;
  max-width: 300pt;
  text-decoration: none;
  color: #fff;

}

.trellocard img{
max-width: 100%;
border-radius: 10pt;
}

.trellocard:hover{
  transform: scale(1.005, 1.005);
  transform: 100ms ease;
  border-color: rgba(200, 255, 0, 0.995);
}
.trellocard:active{
  transform: scale(0.98, 0.98);
  border-color:rgba(200, 255, 0, 0.995); 
}

#gallery{
  min-height: 100vh;
  background-image: url(carlos-vega-7XbxPUdRtgw-unsplash.jpg) ;
  background-position: center;
  background-size: cover;
} 

#farleftnavbutton{
  padding-left: 20pt;
  font-weight: 600;
}

#farleftnavbutton:hover{
  font-weight: 800;
  background-color: rgba(200, 255, 0, 0.995);
  color: #2b2939;
}
/* big balls*/