body {
    background-color: #1e1f22;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    --accent-color:rgb(70, 101, 180);
    --main-text-color:white;

}
h1 {
    color: var(--main-text-color);
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    padding: 8px;

}
h2 {
    color: var(--main-text-color);
    text-align: left;
    font-size: 50px;
    font-weight: normal;
}
    p {
    color: var(--main-text-color);
    font-size: 22px;
    text-align: center;
    }

    #mydiv {
        position: absolute;
        z-index: 9;
        background-color: #fff;
        border: 2px solid  #000;
        text-align: center;
        box-shadow: 8px 8px #000 ;
        display: none;
        padding: 4px;
      }
      
    #mydivheader {
        padding: 10px;
        cursor: move;
        z-index: 10;
        background-color: var(--accent-color);
        color: #fff;
      }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--accent-color);
}




li a{
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--main-text-color);
    text-align: center;
}
li a:hover
{
    background-color:rgb(44, 81, 112) ;
}

.navabout{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--main-text-color);
    text-align: center;
    float: right;
    font-weight: none;
}
.navabout:hover
{
    background-color:rgb(44, 81, 112) ;
}

.closebutton {
    float: right;
    background-color: tomato;
    color: var(--main-text-color);
}

.button1 {
    background-color: var(--accent-color);
    color: var(--main-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: none;
    padding: 10px;
    cursor:pointer;

}