

@font-face {
    font-family: 'Mona Sans';
    src:
      url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

@font-face {
    font-family: 'Hubot Sans';
    src:
      url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
      url('./fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 500%;
  }  


:root {
/*----------Catpuccin Colours!----------*/
--accent0: #cba6f7;
--accent1: #bbf9af;
--textmain: #cdd6f4;
--sur2: #585b70;
--sur1: #45475a;
--sur0:#313244 ;
--base: #1e1e2e;
--mantle: #181825;
--crust: #11111b;
/*--------------------------------------*/

font-family: "Mona Sans";

}

body{

    background-color: var(--crust);
    perspective: 1000px;

}


.fancybarcontainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.fancybar{
  display: flex;
  background-color: var(--base);
  background-color: var(--base);
  border-radius: 14pt;
  border-style: none;
  padding-left: 8pt;
  padding-right: 8pt;
}

.fancybutton {
  text-decoration: none;
  color: var(--textmain);
  padding: 8pt;
  padding-left: 2;
  transition: 100ms;
  user-select: none;
}

.fancybutton:hover {
  transition: 100ms;
  background-color: var(--sur0);
  border-style: none;
  border-radius: 10pt;
  
}

main{
  display: flex;
  color: var(--textmain);
}

