@font-face {
  font-family: 'AppleSF';
  src:
    url('./fonts/sf-pro-display_regular.woff2') format('woff2 supports variations'),
    url('./fonts/sf-pro-display_regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  /*----------Catpuccin Colours!----------*/
  --accent0: 04, 165, 226;
  --accent1: 187, 249, 175;
  --textmain: #f0f0f0;
  --sur2: 70, 71, 92;
  --sur1: #bcc0cc;
  --sur0:204, 208, 218;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  /*--------------------------------------*/

  font-family: "AppleSF", sans-serif;

}

body {

  background-color: var(--crust);
  min-height: 100vh;
  display: flex;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*backdrop-filter: blur(10px);*/
}

article {
  display: block;
}

#sillycardinner {
  background-color: rgba(var(--sur2), 0.6);
  color: var(--textmain);
  border-color: var(--accent1);
  border-radius: 5pt;
  border-style: solid;
  border-width: 1px;
  padding: 8pt;
  backdrop-filter: blur(20px);
  min-height: fit-content;
  
}

article#sillycard {
  perspective: 1000px;
  width: 70%;
  max-width: 700px;
  height:40%;
  max-height: 300px;
  display: block;
}

#landingpage {
  background-image: url("/media/photos/22_99h0O.jpeg");

}

#aboutme {
  background-image: url("/media/photos/8iM4X_Md.jpeg");
}

#work {
  background-image: url("/media/photos/iN3oaXMu.jpeg");
}
.contentcontainer{
  display: block;
}

.content{
  margin-top: 7vh;
  margin-left: 5vh;
  padding: 10px;
  max-width: 70%; 
  background-color: rgba(var(--sur2), 0.6);
  color: var(--textmain);
  border-color: var(--accent1);
  border-radius: 5pt;
  border-style: solid;
  border-width: 1px;
  padding: 8pt;
  backdrop-filter: blur(20px);
  min-height: fit-content;
  transform: 100ms ease;
  max-height: fit-content;
}

.content:active{
  transition: 100ms ease;
  scale: 0.995;
}
nav {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;

  position: fixed;
  background-color: rgba(var(--sur2), 0.7);
  backdrop-filter: blur(20px);

  align-content: center;
  justify-content: center;
}

.fancybutton{
  user-select: none;
  display: block;
  padding: 5pt;
  text-decoration: none;
  color: var(--textmain);
  
  transition: 100ms ease;
}

.fancybutton:hover{
  background-color: rgba(var(--sur0), 0.5);
  border-radius: 5px;
}

main {
  display: flex;
  color: var(--textmain);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#projectspace {
  display: flex;
  align-content:space-around ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectile {
  max-width: 30vw;
  max-height: fit-content;
  min-height: fit-content;
  min-height: fit-content;
  background-color: rgba(var(--sur2), 0.6);
  margin-top: 40pt;
  margin-left: 14pt;
  padding: 20pt;
  border-radius: 10pt;
  color: var(--textmain);
  padding-top: 5pt;
  text-decoration: none;
  backdrop-filter: blur(20px);
}

.pimg {

max-width: 30vw;
max-height: 30vh;
border-radius: 10pt;
  
}

